<html>
  <body>
    <div id="app">
      <h1>{{message}}</h1>
      <p v-if="show"> testing hidden message</p>
      <p v-else>Default Message</p>

      <ul>
        <li v-for="item in todo">{{ item }}</li>
      </ul>

      <p>insert your favorite color</p>
      <input type="text" name="color" v-model="color">
      <p>Your color is {{color}}</p>
      <input type="button" v-on:click="capitalize" value="capitalize">
    </div>
    <script src="libs/vue.js"></script>
    <script>
      let app = new Vue({
        el: "#app",
        data:{
          message: "Hello people",
          show: false,
          todo: [
            "xthis",
            "xthat",
            "xthat again"
          ],
          color: ''
        },
        methods:{
          capitalize: function(){
            console.log(this.color);
            this.color = this.color.toUpperCase();
          }
        }
      });
    </script>
  </body>
</html>